.product {
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-section {
  background-color: #222222;
  margin-left: 4vw;
  border-radius: 10px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #fff;
  font-size: 1.8rem;
  max-width: 65vw;
}

.product-img-section {
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  margin-right: 4vw;
}

.product-section-right {
  background-color: #222222;
  margin-top: -25px;
  margin-left: 4vw;
  margin-right: 4vw;
  border-radius: 10px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #fff;
  font-size: 1.8rem;
  max-width: 65vw;
  align-self: flex-end;
  margin-bottom: 100px;
  z-index: 100;
}

.product-img-section-right {
  display: flex;
  justify-content: flex-start;
  margin-left: 4vw;
  margin-top: 100px;
}

.last {
  margin-bottom: 100px;
}

.elevated {
  z-index: 100;
}

.img {
  width: 550px;
  max-width: 70vw;
  filter: drop-shadow(1px 1px 2px);
  flex-shrink: 1;
  border-radius: 10px;
}

.product-heading {
  padding: 0;
  margin: 10px 0;
}

.product-text {
  padding: 0 8px;
  font-size: 0.6em;
  font-weight: 300;
}

@media screen and (min-width: 500px) {
  .product {
    margin: 0 2vw;
    margin-top: 50px;
  }
  .product-section {
    max-width: 50vw;
  }
  .product-section-right {
    max-width: 50vw;
  }
}
@media screen and (min-width: 1000px) {
  .product {
    margin: 0 4vw;
  }
  .product-section {
    max-width: 50vw;
  }
  .product-section-right {
    max-width: 50vw;
  }
}
@media screen and (min-width: 1400px) {
  .product {
    margin: 0 10vw;
  }
  .product-section {
    max-width: 50vw;
  }
  .product-section-right {
    max-width: 50vw;
  }
}
@media screen and (min-width: 1750px) {
  .product {
    margin: 0 12.5vw;
  }
}
