.team-section {
  background-color: #121212;
  padding: 8vw;
  margin: 0;
  padding: 50px 30px;
  color: #fff;
  font-size: 1.8rem;
}

.team-members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 30px;
}

.team-member-img {
  height: 150px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.team-heading {
  text-align: center;
  margin-bottom: 0;
}

.team-name {
  margin: 0;
  padding: 15px;
  font-size: 25px;
  font-weight: 400;
}

.team-text {
  margin: 5px 0;
  padding: 0 8px;
  font-size: 0.6em;
  font-weight: 300;
}

@media screen and (min-width: 500px) {
  .team-section {
    padding: 0 8vw;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .team-section {
    flex-direction: row;
    padding: 30px 8vw;
    padding-bottom: 80px;
  }
  .team-members-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .team-section {
    padding: 30px 10vw;
    padding-bottom: 80px;
  }
}
