.story-section {
  background: linear-gradient(10deg, #121212 48%, #fff 20%);
  margin: 0;
  padding: 30px 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #000;
  font-size: 1.8rem;
}

.story-surface-dark {
  background-color: #121212f1;
  margin: 20px 0;
  border-radius: 10px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #fff;
  font-size: 1.8rem;
}

.story-surface-blue {
  background-color: #e5f5ff;
  margin: 20px 0;
  border-radius: 10px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #000;
  font-size: 1.8rem;
}

.story-surface-grey {
  background-color: #ccc;
  margin: 20px 0;
  border-radius: 10px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #000;
  font-size: 1.8rem;
}

.story-heading {
  padding: 0;
  margin: 10px 0;
}

.story-heading-closer {
  margin-bottom: -10px;
  text-align: center;
}

.story-text {
  padding: 0 8px;
  font-size: 0.6em;
  font-weight: 300;
}

.story-img-news {
  height: 40px;
}

.story-clear-bg {
  padding: 0 30px;
  padding-top: 30px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .story-section {
    padding: 0 8vw;
  }
}
@media screen and (min-width: 1000px) {
  .story-section {
    flex-direction: row;
    background: linear-gradient(10deg, #121212 64%, #fff 20%);
    padding: 30px 8vw;
    color: #fff;
  }
  .story-clear-bg {
    min-width: 25vw;
    padding: 30px 50px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1400px) {
  .story-section {
    background: linear-gradient(10deg, #121212 58%, #fff 20%);
    margin-top: -100px;
    padding-top: 100px;
    padding: 100px 10vw;
  }
}
