.home-section {
  background-color: #fff;
  height: 92vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 1.8rem;
  top: 0;
  background: linear-gradient(-10deg, #fff 40%, #121212 25%);
}

.aeolusLogo {
  max-width: 90vw;
  max-height: 70vh;
  filter: drop-shadow(1px 2px 4px);
}

.home-caption {
  font-size: 1em;
  margin-top: -20px;
}

.home-descript {
  background-color: #222222fa;
  padding: 20px 25px;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  text-align: start;
  max-width: 450px;
}

.heartbeat {
  margin-left: 40vw;
  margin-top: -310px;
  height: 350px;
  width: 90vw;
  transform: scale(0.3);
  background-repeat: repeat-x;
  background-image: url(http://localhost:3000/static/media/heartbeat.09faf9b242dedae1eeef.png);
  color: #fff;
}

@media screen and (max-width: 500px) {
  .home-descript {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .aeolusLogo {
    max-height: 70vh;
  }
}
@media screen and (min-width: 1000px) {
  .aeolusLogo {
    max-height: 75vh;
  }
  .home-section {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 8vw;
  }
  .home-caption {
    font-size: 60px;
    margin: 0;
    font-weight: 400;
    text-align: left;
    max-width: 250px;
    color: #fff;
  }
}
