.news-section {
  background-color: #fff;
  padding: 8vw;
  margin: 0;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #000;
  font-size: 1.8rem;
}

.news-heading {
  text-align: center;
}

.news-article-container {
  border: 2px solid #000;
  border-radius: 10px;
  max-width: 300px;
  flex-shrink: 1;
  padding: 20px 30px;
  font-size: 20px;
  margin: 20px;
}

.arrow {
  background-color: #1212126c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-articles {
  display: flex;
  flex-direction: row;
}

.dots {
  margin-top: -50px;
  font-size: 80px;
  font-family: 900;
}

@media screen and (min-width: 500px) {
  .news-section {
    padding: 0 8vw;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .news-section {
    padding: 30px 8vw;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1400px) {
  .news-section {
    padding: 30px 10vw;
    padding-bottom: 80px;
  }
}
